<div class="animate">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">Add Trainee</h3>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-4">
                            <form method="POST" action="#/trainees/add/" role="form">
                                <div class="form-group">
                                    <label for="title">Faculty number:</label>
                                    <input type="text" class="form-control" id="title" name="facultyNumber" placeholder="Faculty number..."/>
                                </div>
                                <div class="form-group">
                                    <label for="title">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password..."/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Name:</label>
                                    <input type="text" class="form-control" id="description" name="name" placeholder="Name..."/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email..."/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Field of study:</label>
                                    <input type="text" class="form-control" id="fieldOfStudy" name="fieldOfStudy" placeholder="Field of study..."/>
                                </div>
                                <a href="#/home">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i><span>&nbsp;&nbsp; Back</span>
                                    </button>
                                </a>
                                <input type="submit" class="btn btn-primary pull-right" value="Add"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>