<div class="animate">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">Add lecture</h3>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-4">
                            <form method="POST" action="#/courses/{{id}}/lectures/add/" role="form">
                                <div class="form-group">
                                    <label for="Name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Lecture name..."/>
                                </div>
                                <div class="form-group">
                                    <label for="endDate">End Date:</label>
                                    <input type="date" class="form-control" id="endDate" name="endDate"/>
                                </div>
                                <div class="form-group">
                                    <label for="homework">Task:</label>
                                    <textarea class="form-control" id="task" name="task"></textarea>
                                </div>
                                <a href="#/courses/{{id}}">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i><span>&nbsp;&nbsp; Back</span>
                                    </button>
                                </a>
                                <input type="submit" class="btn btn-primary pull-right" value="Add"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>