<div class="animate">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">Add course</h3>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-4">
                            <form role="form" method="post" action="#/courses/add/">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Course name..."/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" id="description" name="description" placeholder="Description..."></textarea>
                                </div>
                                <a href="#/courses">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i><span>&nbsp;&nbsp; Back</span>
                                    </button>
                                </a>
                                <input type="submit" class="btn btn-primary pull-right" value="Add"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>