<div class="animate">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">Trainees</h3>
                </div>
                <div class="card-block">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Faculty number</th>
                                <th>Field of Study</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#trainees}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{email}}</td>
                                <td>{{facultyNumber}}</td>
                                <td>{{fieldOfStudy}}</td>
                            </tr>
                            {{/trainees}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">My Courses</h3>
                </div>
                <div class="card-block">
                    
                </div>
            </div>
        </div>
    </div>
</div>