<div class="login-page animate">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<img src="images/flat-avatar.png" class="user-avatar" />
			<h1>Homework System</h1>
			<form method="POST" action="#/login" role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg text-lg-center"
							name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg text-lg-center"
							name="password" placeholder="Password">
					</div>
					<input type="submit" class="btn rounded-btn" value="Log in" />
				</div>
			</form>
		</div>
	</div>
</div>