<aside id="sidebar">
    <div class="sidenav-outer">
        <div class="menu-body">
            <ul class="nav nav-pills nav-stacked sidenav">
                <li>
                    <a class="website-name">Homework System</a>
                </li>
                <li>
                    <a class="logo">
                        <img src="images/flat-avatar.png" class="user-avatar" />
                        <p class="text-xs-center">{{username}}</p>
                    </a>
                </li>
                <li>
                    <a href="#/home/"><i class="fa fa-home"></i><span>&nbsp; Home</span></a>
                </li>
                <li class="nested">
                    <a href="#/courses/"><i class="fa fa-book"></i><span>&nbsp;&nbsp; Courses</span></a>
                </li>
                <li>
                    <a href="#/submissions/"><i class="fa fa-archive"></i><span>&nbsp;&nbsp; Submissions</span></a>
                </li>
                <li>
                    <a href="#/logout/"><i class="fa fa-sign-out"></i><span>&nbsp;&nbsp; Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>
