<div class="row">
    <h2 class="col-sm-12 text-xs-center">{{title}}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Lecture</th>
                <th>Materials</th>
            </tr>
        </thead>
        <tbody>
            {{#lectures}}
            <tr>
                <td class="lecture-td">
                    <strong>{{name}}</strong>
                    <div class="lecture-deadline">
                        <i class="fa fa-hourglass-end"></i>
                        <span>&nbsp; Deadline: {{endDate}}</span>
                    </div>
                </td>
                <td>
                    <div>Task:</div>
                    <div>{{task}}</div>
                    {{#isUploadActive}}
                    <label class="btn btn-warning">
                        Upload
                        <input type="file" data-lecture-id="{{id}}" style="display: none;"/>
                    </label>
                    {{/isUploadActive}}
                    {{^isUploadActive}}
                        The deadline is passed.
                    {{/isUploadActive}}
                </td>
            </tr>
            {{/lectures}}
        </tbody>
    </table>
</div>