<div class="animate">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">Last Submissions</h3>
                </div>
                <div class="card-block">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Course</th>
                                <th>Lecture</th>
                                <th>Submitted By</th>
                                <th>Submitted On</th>
                                <th>File</th>
                                <th>Mark</th>
                                <th>Evaluate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#submissions}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{courseName}}</td>
                                <td>{{lectureName}}</td>
                                <td>{{submittedBy}}</td>
                                <td>{{submittedOn}}</td>
                                <td>
                                    <a href="#/">
                                        <i class="fa fa-archive"></i>
                                        <span>&nbsp; Solution</span>
                                    </a>
                                </td>
                                <td>
                                    {{#mark}}
                                        {{mark}}/10
                                    {{/mark}}
                                    {{^mark}}
                                        Not evaluated
                                    {{/mark}}
                                </td>
                                <td>
                                    {{#mark}}
                                    <a href="#/submissions/{{id}}/">
                                    	<button class="btn btn-primary">View</button>
                                	</a>
                                    {{/mark}}
                                    {{^mark}}
                                    <a href="#/submissions/{{id}}/">
                                        <button class="btn btn-warning">Evaluate</button>
                                    </a>
                                    {{/mark}}
                                </td>
                            </tr>
                            {{/submissions}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-primary card-inverse">
                    <h3 class="card-title">My Courses</h3>
                </div>
                <div class="card-block">
                    <div class="row">
                        {{#courses}}
                        <div class="col-md-4">
                            <div class="card">
                                <img class="img-fluid" src="images/cards.jpg" width="100%" alt="Image">
                                <div class="card-block">
                                    <h4 class="card-title">{{title}}</h4>
                                    <p class="card-text">{{description}}</p>
                                    <a href="#/courses/{{id}}/" class="btn btn-primary">Administrate</a>
                                </div>
                            </div>
                        </div>
                        {{/courses}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>