<div class="row">
    <h2 class="col-lg-12 text-lg-center">{{title}}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Lecture</th>
                <th>Materials</th>
            </tr>
        </thead>
        <tbody>
            {{#lectures}}
            <tr>
                <td style="position: relative;">
                    <strong>{{name}}</strong>
                    <div class="lecture-deadline">
                        <i class="fa fa-hourglass-end"></i>
                        <span>&nbsp; Deadline: {{endDate}}</span>
                    </div>
                </td>
                <td>
                    <div>Task:</div>
                    <div>{{task}}</div>
                </td>
            </tr>
            {{/lectures}}
        </tbody>
    </table>
    <div>
        <a href="#/courses/{{courseId}}/lectures/add/">
            <button type="button" class="btn btn-default">
                <i class="fa fa-plus"></i><span>&nbsp;&nbsp; Add Lecture</span>
            </button>
        </a>
    </div>
</div>